<a href="https://colab.research.google.com/github/43ilham/pemograman_dasar/blob/main/Tugas%20pemograman%20Dasar%20Ilham%20Muhamad%20zaky.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
Ilham_Muhamad_Zaky = pd.read_csv('/content/mahasiswa.csv')
#import file csv

In [15]:
Ilham_Muhamad_Zaky.head()
#melihat 5 data teratas

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

In [17]:
Kode tersebut dimulai dengan melakukan import beberapa library penting, yaitu numpy, pandas, matplotlib.pyplot, dan seaborn. Library-library ini digunakan untuk analisis data dan visualisasi grafik. Setelah itu, program membaca file CSV yang berisi data mahasiswa menggunakan fungsi pd.read_csv(), lalu hasilnya disimpan dalam sebuah DataFrame bernama ziza_df. DataFrame ini merupakan bentuk tabel yang memudahkan proses analisis. Untuk memastikan bahwa data telah berhasil dimuat dengan benar, kode kemudian menampilkan lima baris pertama dari tabel menggunakan ziza_df.head(). Dari hasil tampilan data tersebut, terlihat beberapa kolom seperti nim, nama, jurusan, umur, nilai_akhir, kehadiran_pct, dan tanggal_daftar. Namun, pada sebagian data ditemukan nilai yang tidak valid, misalnya umur yang terlalu besar, nilai negatif, atau berupa teks seperti “twenty”, serta nilai akhir 999 yang tampaknya merupakan outlier. Secara keseluruhan, kode ini berfungsi untuk mempersiapkan data sebelum dilakukan pembersihan atau analisis lebih lanjut.

SyntaxError: invalid character '“' (U+201C) (ipython-input-1970096942.py, line 1)

In [18]:
Ilham_Muhamad_Zaky.tail()
#melihat 5 data terakhir

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

In [ ]:
Kode ini digunakan untuk menampilkan 5 baris terakhir dari DataFrame ziza_df. Fungsinya adalah untuk mengecek kondisi data di bagian akhir dataset—apakah ada data yang aneh, kosong, atau tidak konsisten.

Hasilnya pada gambar menampilkan baris indeks 73–77 yang menunjukkan data mahasiswa terakhir dalam tabel.

In [19]:
Ilham_Muhamad_Zaky.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

In [ ]:
Kode Ilham_Muhamad_Zaky.info() digunakan untuk melihat ringkasan lengkap mengenai struktur DataFrame. Ketika kode ini dijalankan, pandas menampilkan informasi penting seperti jumlah baris pada dataset, daftar nama kolom, jumlah nilai yang tidak kosong pada setiap kolom, serta tipe data dari tiap kolom tersebut. Dari hasil yang ditampilkan, terlihat bahwa dataset memiliki total 78 baris dan 7 kolom. Selain itu, beberapa kolom seperti jurusan, umur, dan kehadiran_pct memiliki jumlah data non-null yang lebih sedikit, yang berarti ada nilai kosong atau data yang tidak valid. Tipe data pada beberapa kolom juga masih dalam bentuk object, padahal seharusnya kolom seperti umur idealnya bertipe numerik. Informasi ini sangat berguna sebagai langkah awal untuk mengevaluasi kualitas data dan mengetahui bagian mana yang perlu dibersihkan sebelum dilakukan analisis lebih lanjut.

dari hasil infor terdapat jumlah data yg tidak konsisten ada 2 kolom yg jumlah nya 28 sedangkan yg lainya hanya 76

In [20]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
Kode ziza_df.isna().sum() digunakan untuk menghitung jumlah nilai yang hilang (missing values atau NaN) pada setiap kolom dalam DataFrame. Fungsi isna() akan memeriksa setiap sel dan menandai apakah sel tersebut kosong, sedangkan sum() akan menjumlahkan total nilai kosong per kolom. Dari hasil output terlihat bahwa terdapat beberapa kolom yang memiliki nilai NaN, yaitu kolom jurusan, umur, nilai_akhir, kehadiran_pct, dan tanggal_daftar, masing-masing memiliki 2 data yang hilang. Sementara kolom nim dan nama tidak memiliki nilai kosong sama sekali. Informasi ini sangat penting karena menunjukkan bahwa terdapat ketidakkonsistenan pada data, terutama terlihat dari jumlah entri per kolom yang sebelumnya ditunjukkan oleh info(), di mana beberapa kolom berisi 76 data sementara dataset total memiliki 78 baris. Dengan mengetahui kolom mana saja yang memiliki missing values, kita dapat merencanakan langkah pembersihan data (data cleaning) berikutnya, seperti mengisi nilai kosong, menghapus baris yang tidak lengkap, atau melakukan imputasi sesuai kebutuhan analisis.

Terdapat 5 kolom yang NaN atau missing values

In [21]:
print("Jumlah duplikasi: ", Ilham_Muhamad_Zaky.duplicated().sum())

Jumlah duplikasi:  8

In [22]:
Kode print("Jumlah duplikasi: ", Ilham_Muhamad_Zaky_df.duplicated().sum()) digunakan untuk menghitung jumlah baris yang terduplikasi dalam DataFrame. Fungsi duplicated() akan memeriksa setiap baris dan menandai apakah baris tersebut sama persis dengan baris lain, sementara sum() akan menjumlahkan berapa banyak baris yang teridentifikasi sebagai duplikat. Dari output terlihat bahwa terdapat 8 data duplikasi, yang berarti terdapat baris-baris yang benar-benar identik dan perlu dibersihkan agar analisis data tidak bias atau tidak akurat.

Lalu terdapat juga 8 data duplikasi

Cleaning Data

Menghilangkan duplicate data dengan drop_duplicates()

SyntaxError: invalid syntax (ipython-input-2744269836.py, line 1)

In [23]:
Ilham_Muhamad_Zaky.drop_duplicates(inplace=True)

In [ ]:
Kode tersebut digunakan untuk menghapus baris-baris yang terduplikasi di dalam DataFrame ziza_df. Fungsi drop_duplicates() bekerja dengan cara memeriksa setiap baris dan mencari apakah ada baris lain yang memiliki nilai yang sama persis pada seluruh kolom. Jika ditemukan baris yang identik, baris tersebut dianggap sebagai duplikat dan akan dihapus. Penggunaan parameter inplace=True berarti perubahan dilakukan langsung pada DataFrame asli tanpa perlu membuat variabel baru. Dengan kata lain, DataFrame ziza_df akan langsung diperbarui sehingga baris duplikat hilang secara permanen. Langkah ini penting dalam proses pembersihan data karena keberadaan duplikasi dapat menyebabkan analisis yang bias, perhitungan statistik yang tidak akurat, serta visualisasi yang menyesatkan. Setelah kode ini dijalankan, biasanya dilakukan pengecekan ulang menggunakan ziza_df.duplicated().sum() untuk memastikan bahwa

In [ ]:
print("Jumlah duplikasi: ", Ilham_Muhamad_Zaky.duplicated().sum())

Jumlah duplikasi:  8

In [ ]:
Sekarang data duplikat sudah selesai

Pada bagian Cleaning Data, digunakan perintah ziza_df.drop_duplicates(inplace=True) untuk menghapus baris duplikat tersebut. Parameter inplace=True memastikan bahwa perubahan dilakukan langsung pada DataFrame asli tanpa perlu membuat variabel baru. Setelah proses pembersihan dilakukan, kode kembali dihitung menggunakan ziza_df.duplicated().sum() dan hasilnya menunjukkan angka 0, yang berarti seluruh data duplikat telah berhasil dihapus. Dengan demikian, dataset kini lebih bersih dan siap untuk melalui tahap pembersihan berikutnya seperti memperbaiki missing values atau data yang tidak valid.

In [ ]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
ode Ilham_Muhamad_Zaky.isna().sum() digunakan untuk mengevaluasi kembali jumlah nilai kosong atau missing values dalam DataFrame setelah proses pembersihan sebelumnya. Fungsi isna() akan memeriksa setiap sel pada seluruh kolom dan menandai nilai mana saja yang kosong, kemudian fungsi sum() akan menjumlahkan total nilai kosong pada masing-masing kolom. Dari hasil yang ditampilkan, terlihat bahwa masih ada lima kolom yang memiliki missing values, yaitu jurusan, umur, nilai_akhir, kehadiran_pct, dan tanggal_daftar, masing-masing memiliki 2 nilai yang hilang. Sementara kolom nim dan nama tidak memiliki nilai kosong. Informasi ini sangat penting untuk mengetahui bagian mana dari dataset yang masih perlu diperbaiki sebelum melanjutkan proses analisis. Missing values ini nantinya bisa ditangani dengan beberapa metode, seperti mengisi dengan rata-rata, median, modus, atau menghapus baris terkait, tergantung kebutuhan analisis dan karakteristik data.

In [ ]:
Ilham_Muhamad_Zaky['jurusan'] = Ilham_Muhamad_Zaky['jurusan'].fillna("Pembangkit Energi")

#di sini untuk jurusan di isi dengan "Pembangkit Energi"

In [ ]:
Kode Ilham_Muhamad_Zaky['jurusan'] = ziza_df['jurusan'].fillna("Pembangkit Energi") digunakan untuk menangani nilai kosong (missing values) pada kolom jurusan. Fungsi fillna() bekerja dengan cara mengganti semua nilai NaN dalam kolom tersebut dengan nilai yang ditentukan, yaitu "Pembangkit Energi". Dengan menuliskan hasilnya kembali ke ziza_df['jurusan'], maka perubahan tersebut langsung diterapkan pada kolom yang sama. Langkah ini penting karena kolom jurusan tidak boleh dibiarkan kosong—setiap mahasiswa harus memiliki jurusan yang jelas—sehingga mengisinya dengan nilai yang konsisten dapat membantu menjaga kualitas data dan mempermudah proses analisis selanjutnya. Teknik pengisian ini disebut imputation, dan digunakan terutama ketika jumlah nilai kosong relatif sedikit dan dapat digantikan dengan nilai yang logis atau relevan.

In [ ]:
mhs_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

In [ ]:
ode tersebut digunakan untuk memeriksa kembali jumlah nilai kosong (missing values atau NaN) pada setiap kolom dalam DataFrame ziza_df. Fungsi isna() akan mengecek seluruh sel pada tabel dan menandai mana yang bernilai kosong, sementara sum() menjumlahkan total nilai kosong di masing-masing kolom. Hasil dari perintah ini menunjukkan berapa banyak data yang masih belum terisi setelah dilakukan proses pembersihan sebelumnya, seperti penghapusan duplikasi atau pengisian nilai jurusan. Pemeriksaan ini penting untuk memastikan bahwa tidak ada lagi missing values yang tertinggal, sehingga dataset benar-benar siap untuk tahap analisis berikutnya tanpa risiko munculnya error atau hasil yang bias

In [ ]:
Ilham_Muhamad_Zaky['umur'] = Ilham_Muhamad_Zaky['umur'].fillna(23)

In [ ]:
Kode tersebut digunakan untuk menangani nilai kosong (missing values) pada kolom umur di DataFrame ziza_df. Fungsi fillna(23) berarti semua nilai umur yang sebelumnya berstatus NaN akan diganti atau diisi dengan angka 23. Angka 23 dipilih sebagai nilai imputasi, biasanya karena merupakan nilai yang dianggap paling masuk akal—misalnya usia rata-rata mahasiswa dalam dataset tersebut. Dengan menyimpan hasilnya kembali ke ziza_df['umur'], maka kolom umur langsung diperbarui dan tidak lagi memiliki nilai kosong. Langkah ini penting untuk memastikan bahwa seluruh nilai dalam kolom umur bersifat numerik dan lengkap, sehingga tidak menimbulkan error pada proses analisis berikutnya seperti perhitungan statistik, visualisasi, atau machine learning.

In [ ]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
ode ini digunakan untuk mengecek kembali jumlah nilai kosong (missing values) di setiap kolom setelah dilakukan proses pengisian nilai pada kolom tertentu, seperti jurusan dan umur. Fungsi isna() akan memeriksa seluruh elemen dalam DataFrame dan menandai mana saja yang bernilai NaN, lalu sum() menjumlahkan total nilai kosong tersebut per kolom. Dengan menjalankan perintah ini, kamu dapat memastikan apakah proses imputasi sebelumnya sudah berhasil menghilangkan missing values, atau apakah masih ada kolom lain yang memerlukan penanganan tambahan. Pemeriksaan ini merupakan langkah penting dalam proses data cleaning untuk memastikan dataset benar-benar bersih dan siap digunakan untuk analisis lebih lanjut.

In [ ]:
Ilham_Muhamad_Zaky['nilai_akhir'] = pd.to_numeric(Ilham_Muhamad_Zaky['nilai_akhir'], errors='coerce')

Ilham_Muhamad_Zaky['nilai_akhir'].mean()

np.float64(86.86712328767122)

In [ ]:
Kode ziza_df['nilai_akhir'] = pd.to_numeric(ziza_df['nilai_akhir'], errors='coerce') digunakan untuk mengubah kolom nilai_akhir menjadi tipe data numerik, khususnya float. Pada beberapa dataset, kolom nilai bisa saja berisi karakter non‐angka seperti teks, simbol, atau angka yang ditulis tidak sesuai format. Dengan menggunakan pd.to_numeric(), semua nilai yang valid akan dikonversi menjadi angka, sedangkan nilai yang tidak dapat diubah akan otomatis diganti menjadi NaN karena parameter errors='coerce'. Hal ini sangat penting agar kolom tersebut bisa digunakan untuk perhitungan statistik tanpa menimbulkan error.

Setelah kolom berhasil dikonversi menjadi numerik, kode ziza_df['nilai_akhir'].mean() digunakan untuk menghitung nilai rata-rata dari seluruh data pada kolom nilai_akhir. Fungsi mean() akan menjumlahkan semua nilai kemudian membaginya dengan jumlah data yang valid (mengabaikan NaN). Perhitungan ini bermanfaat untuk memahami gambaran umum performa mahasiswa berdasarkan nilai akhir mereka, terutama setelah data sudah dibersihkan dan siap dianalisis.

In [ ]:
mhs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     78 non-null     float64
 5   kehadiran_pct   78 non-null     float64
 6   tanggal_daftar  78 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

In [ ]:
Kode Ilham_Muhamad_Zaky.info() digunakan untuk menampilkan ringkasan struktur lengkap dari DataFrame setelah berbagai proses pembersihan data dilakukan, seperti menghapus duplikasi, mengisi nilai kosong, dan mengonversi tipe data. Fungsi ini menampilkan jumlah total baris data, nama setiap kolom, jumlah nilai yang tidak kosong (non-null), serta tipe data masing-masing kolom. Dengan menjalankan kode ini, kamu dapat melihat apakah perubahan yang sudah dilakukan sebelumnya berhasil, misalnya apakah kolom nilai_akhir sudah berubah menjadi tipe numerik, apakah kolom jurusan dan umur sudah tidak memiliki missing values, dan apakah tipe data seluruh kolom sudah sesuai untuk dianalisis lebih lanjut. Pemeriksaan ini penting sebagai tahap akhir dari proses data cleaning untuk memastikan bahwa dataset berada dalam kondisi yang benar-benar siap digunakan untuk analisis statistik, visualisasi, atau pemodelan.

Jika kita lihat di sini tipe dara pada nilai_akhir sudah berubah menjadi float

In [31]:
Ilham_Muhamad_Zaky['kehadiran_pct'] = pd.to_numeric(Ilham_Muhamad_Zaky['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

Ilham_Muhamad_Zaky['kehadiran_pct'].mean() #mecari rata-rata

np.float64(82.13235294117646)

In [ ]:
Kode ziza_df['kehadiran_pct'] = pd.to_numeric(ziza_df['kehadiran_pct'], errors='coerce') digunakan untuk mengubah kolom kehadiran_pct menjadi tipe data numerik (float). Pada dataset, kolom ini mungkin berisi data yang tidak sepenuhnya berbentuk angka, seperti teks, simbol, atau format persentase yang tidak sesuai. Fungsi pd.to_numeric() akan mencoba mengonversi semua nilai dalam kolom tersebut menjadi angka. Jika ada nilai yang tidak bisa diubah menjadi angka, fungsi ini akan menggantinya dengan nilai NaN karena parameter errors='coerce'. Langkah ini penting agar kolom kehadiran dapat diproses dalam perhitungan statistik tanpa menimbulkan kesalahan. Setelah perubahan tipe data berhasil dilakukan, kode ziza_df['kehadiran_pct'].mean() digunakan untuk menghitung rata-rata kehadiran mahasiswa dalam dataset. Fungsi mean() akan mengabaikan nilai NaN dan menghitung rata-rata berdasarkan nilai yang valid saja. Hasil rata-rata ini nantinya dapat digunakan sebagai nilai imputasi jika kamu ingin mengganti missing value di kolom kehadiran_pct dengan nilai yang representatif. Proses ini merupakan bagian penting dalam pembersihan dan persiapan data sebelum masuk ke tahap analisis lebih lanjut.

In [30]:
Ilham_Muhamad_Zaky['nilai_akhir'] = Ilham_Muhamad_Zaky['nilai_akhir'].fillna(88)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

In [ ]:
Kode Ilham_Muhamad_Zaky['nilai_akhir'] = Ilham_Muhamad_Zaky['nilai_akhir'].fillna(88) digunakan untuk mengatasi nilai kosong (missing values) pada kolom nilai_akhir. Setelah sebelumnya kolom ini dikonversi menjadi tipe numerik dan dihitung nilai rata-ratanya, angka 88 diperoleh sebagai nilai rata-rata tersebut. Dengan menggunakan fungsi fillna(88), semua sel yang bernilai NaN pada kolom nilai_akhir akan digantikan oleh angka 88. Langkah ini memastikan bahwa tidak ada lagi nilai kosong yang dapat mengganggu proses analisis, perhitungan statistik, atau pembuatan grafik nanti. Mengisi missing value dengan rata-rata adalah metode imputasi yang umum digunakan ketika data yang hilang jumlahnya sedikit dan dianggap tidak memiliki pola tertentu. Dengan demikian, dataset menjadi lebih bersih, konsisten, dan siap digunakan untuk analisis lebih lanjut.

In [25]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
de tersebut digunakan untuk memeriksa kembali jumlah nilai kosong (missing values) pada setiap kolom setelah proses pengisian nilai pada kolom nilai_akhir dilakukan. Fungsi isna() akan mengecek semua sel dalam DataFrame dan menandai sel mana yang bernilai NaN, kemudian sum() akan menghitung total nilai kosong per kolom. Dengan menjalankan perintah ini, kamu bisa memastikan apakah pengisian missing value pada kolom nilai_akhir menggunakan nilai rata-rata (88) sudah berhasil dan apakah masih ada kolom lain yang masih memiliki nilai kosong. Tahap pengecekan ini sangat penting dalam proses data cleaning, karena memastikan bahwa dataset sudah bersih dan tidak lagi memiliki nilai hilang yang dapat menyebabkan error atau analisis yang tidak akurat pada langkah-langkah berikutnya.

In [26]:
Ilham_Muhamad_Zaky['tanggal_daftar'] = Ilham_Muhamad_Zaky['tanggal_daftar'].fillna('2024-03-24')

In [27]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    0
dtype: int64

In [ ]:
Kode tersebut digunakan untuk melakukan pengecekan ulang terhadap jumlah nilai kosong (missing values) pada setiap kolom setelah proses pengisian nilai pada kolom kehadiran_pct dilakukan. Fungsi isna() akan memeriksa seluruh sel di dalam DataFrame dan menandai mana saja yang masih bernilai NaN, kemudian fungsi sum() akan menjumlahkannya per kolom sehingga kamu dapat melihat apakah masih ada data yang belum terisi. Dengan menjalankan perintah ini, kamu dapat memastikan bahwa pengisian missing value menggunakan nilai rata-rata sebelumnya sudah berjalan dengan benar dan bahwa kolom kehadiran_pct kini tidak lagi memiliki nilai kosong. Pengecekan ini merupakan langkah penting dalam proses data cleaning, karena memastikan bahwa seluruh dataset telah bersih dan siap untuk dianalisis tanpa adanya masalah data hilang yang dapat mengganggu hasil analisis.

In [28]:
Ilham_Muhamad_Zaky.jurusan.value_counts()

jurusan
Energi              21
Informatika         17
Teknik              12
Manajemen Energi    11
teknik               1
ManajemenEnergi      1
 energi              1
EnErGi               1
Teknik               1
ENG                  1
ENERGI               1
Name: count, dtype: int64

In [29]:
Ilham_Muhamad_Zaky.umur.value_counts()

umur
23.0          15
25.0          10
24.0           9
20.0           9
22.0           8
19.0           7
21.0           4
150            1
-5             1
twenty         1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

In [ ]:
Ilham_Muhamad_Zaky['jurusan'] = Ilham_Muhamad_Zaky['jurusan'].str.lower().str.strip()

In [ ]:
Ilham_Muhamad_Zaky.jurusan.value_counts()

jurusan
Energi              24
Informatika         20
Teknik              13
Manajemen Energi    12
teknik               1
ManajemenEnergi      1
 energi              1
EnErGi               1
Teknik               1
ENG                  1
ENERGI               1
Name: count, dtype: int64

In [ ]:
mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

In [ ]:
Ilham_Muhamad_Zaky["jurusan"] = Ilham_Muhamad_Zaky["jurusan"].replace(mapping_jurusan)

In [ ]:
Ilham_Muhamad_Zaky["jurusan"] = Ilham_Muhamad_Zaky["jurusan"].str.title()

In [ ]:
Ilham_Muhamad_Zaky.jurusan.value_counts()

jurusan
Energi              26
Informatika         20
Teknik              14
Manajemen Energi    12
Manajemenenergi      1
 Energi              1
Teknik               1
Eng                  1
Name: count, dtype: int64

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(mhs_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64
Sekarang untuk inaccurate value pada kolom jurusan sudah selesai dan tidak da yg type atau tidak terkelompok dengan benar

**Selanjutnya lakuakan untuk kolom nilai **

In [ ]:
Ilham_Muhamad_Zaky.umur.value_counts()

umur
23.0          19
25.0          12
24.0          11
20.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

In [ ]:
Ilham_Muhamad_Zaky['umur'] = Ilham_Muhamad_Zaky['umur'].replace('twenty', 20

In [ ]:
print(Ilham_Muhamad_Zaky['umur'].value_counts())

umur
23.0          19
25.0          12
24.0          11
20.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

In [ ]:
Ilham_Muhamad_Zaky['umur'] = pd.to_numeric(Ilham_Muhamad_Zaky['umur'], errors='coerce')
Ilham_Muhamad_Zaky['umur'].mean()

np.float64(25.133333333333333)

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25

In [ ]:
Ilham_Muhamad_Zaky['umur'] = Ilham_Muhamad_Zaky['umur'].replace(mapping_umur)

In [ ]:
print("Hasil setelah pemetaan:")
print(mhs_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {mhs_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
23.0          19
25.0          12
24.0          11
20.0           9
22.0           8
19.0           7
21.0           4
150            1
-5             1
20             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: object

In [ ]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              3
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
Ilham_Muhamad_Zaky.head(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150.0,59.5,82.0,2024-05-05
1,E0002,Budi,Teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,NaN,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,120.0,58.2,83.0,2024-11-17
9,E0010,Joko,Teknik,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,NaN,2024-03-24
12,E0013,Maya,Manajemenenergi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Teknik,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Teknik,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,NaN
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Teknik,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,NaN,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Teknik,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Teknik,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Teknik,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,NaN
37,E0038,Lulu,Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Teknik,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Teknik,24.0,95.0,65.0,2024-02-17

In [ ]:
Perintah Ilham_Muhamad_Zaky.head(50) digunakan untuk menampilkan 50 baris pertama dari DataFrame sebagai cara untuk melakukan pengecekan visual terhadap data setelah dilakukan pembersihan atau perubahan. Dengan melihat baris-baris teratas, kamu dapat memastikan apakah hasil pemetaan umur, perbaikan jurusan, atau penanganan nilai NaN sudah diterapkan dengan benar. Metode ini membantu menemukan kesalahan lebih cepat dibandingkan hanya melihat ringkasan angka. Selain itu, komentar dalam kode menjelaskan bahwa cara ini juga dapat dilakukan dari arah bawah menggunakan ziza_df.tail(50) jika ingin melihat 50 baris terakhir. Kedua metode ini sangat berguna dalam proses data inspection untuk memastikan seluruh perubahan data sudah sesuai dengan harapan sebelum melanjutkan ke tahap analisis berikutnya.

In [ ]:
Ilham_Muhamad_Zaky.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
28,E0029,Cici,Teknik,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Teknik,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,NaN
37,E0038,Lulu,Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Teknik,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Teknik,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Energi,NaN,62.6,78.0,2024-01-30
54,E0055,Dina,NaN,24.0,67.5,68.0,2024-10-26
55,E0056,Edo,Energi,23.0,88.0,98.0,2024-03-21
56,E0057,Fauzi,Energi,23.0,58.2,76.0,2024-02-05
57,E0058,Gita,Teknik,24.0,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21.0,88.0,85.0,2024-05-02
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-08-22
61,E0062,Kirana,Energi,25.0,92.4,65.0,2024-08-22
62,E0063,Lutfi,Teknik,19.0,76.5,97.0,2024-05-15
63,E0064,Mega,Eng,21.0,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,23.0,72.5,99.0,2024-12-26
65,E0066,Oleh,Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Energi,24.0,59.1,NaN,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17
70,E0032,Ferry,Teknik,25.0,87.3,80.0,2024-01-30
71,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
72,E0062,Kirana,Energi,25.0,92.4,65.0,2024-08-22
73,E0057,Fauzi,Energi,23.0,58.2,76.0,2024-02-05
74,E0039,Mita,Energi,23.0,77.2,79.0,2024-01-04
75,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
76,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
77,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24

In [ ]:
Perintah Ilham_Muhamad_Zaky.tail(50) digunakan untuk menampilkan 50 baris terakhir dari DataFrame ziza_df. Tujuan utama penggunaan perintah ini adalah untuk melakukan pengecekan visual terhadap bagian akhir dataset setelah proses pembersihan data dilakukan, seperti normalisasi jurusan, pemetaan umur, pengisian missing value, dan konversi tipe data. Dengan melihat baris paling bawah, kamu dapat memastikan bahwa perubahan yang diterapkan konsisten di seluruh dataset, bukan hanya pada baris awal. Selain itu, cara ini berguna untuk mendeteksi apakah masih ada nilai aneh, kosong, atau salah format yang mungkin terlewat pada proses sebelumnya. Secara keseluruhan, tail(50) membantu memastikan kualitas data sebelum dataset digunakan untuk analisis lebih lanjut.

In [ ]:
Ilham_Muhamad_Zaky['umur'].mean() #mencari rata-rata

np.float64(25.133333333333333)

In [ ]:
Perintah ini digunakan untuk menghitung nilai rata-rata dari seluruh data pada kolom umur setelah proses pembersihan dilakukan. Fungsi .mean() akan otomatis mengabaikan nilai NaN, sehingga perhitungan tetap akurat meskipun masih ada data yang kosong. Menghitung rata-rata umur penting dalam proses data cleaning, terutama jika kamu berencana menggunakan nilai rata-rata tersebut untuk menggantikan missing value pada kolom umur. Dengan mengetahui nilai mean ini, kamu bisa memastikan bahwa pengisian nilai yang hilang dilakukan secara konsisten dan berdasarkan representasi umum dari data yang tersedia. Nilai rata-rata juga membantu mengevaluasi apakah ada umur tidak wajar yang masih tersisa di dataset.

In [ ]:
Ilham_Muhamad_Zaky['umur'] = Ilham_Muhamad_Zaky['umur'].fillna(22) #isi dengan nilai rata-rata

In [ ]:
Perintah ini digunakan untuk mengecek kembali jumlah missing value (NaN) pada setiap kolom dalam DataFrame setelah proses pengisian nilai umur dilakukan. Fungsi isna() akan menandai setiap sel yang kosong dengan nilai True, lalu sum() menjumlahkan berapa banyak nilai True di tiap kolom. Dengan menjalankan kode ini, kamu dapat memastikan apakah proses pembersihan data telah berhasil—terutama untuk memeriksa apakah kolom umur sudah tidak memiliki nilai NaN setelah diisi dengan nilai rata-rata. Jika seluruh kolom menunjukkan angka 0, berarti tidak ada lagi data yang hilang dan dataset sudah siap untuk dianalisis lebih lanjut.

Setelah di cek sudah tidak ada lagi data yang missing pada semua kolom data

In [ ]:
Ilham_Muhamad_Zaky.isna().sum()

nim               0
nama              0
jurusan           2
umur              3
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

In [ ]:
Ilham_Muhamad_Zaky.duplicated().sum()

np.int64(8)

In [ ]:
tah ini digunakan untuk mengetahui berapa banyak baris duplikat yang ada di dalam DataFrame ziza_df. Fungsi .duplicated() akan mengecek setiap baris dan menandai baris yang isinya sama persis dengan baris sebelumnya sebagai True, kemudian .sum() menghitung total nilai True tersebut. Dengan cara ini, kamu dapat mengetahui jumlah data yang terduplikasi tanpa langsung menghapusnya. Informasi ini penting dalam proses data cleaning, karena data duplikat dapat menyebabkan hasil analisis menjadi bias atau tidak akurat. Jika hasilnya lebih dari nol, berarti masih ada baris data yang perlu diperiksa dan kemungkinan besar dihapus menggunakan drop_duplicates() untuk memastikan dataset tetap bersih dan valid.

Untuk pulikat juga sama tidak ada data yang duplikat

Untuk memverifikasi bisa show head() dan tail() seperti di bawah ini atau count duplicates() dan isnan()

In [ ]:
Ilham_Muhamad_Zaky.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150.0,59.5,82.0,2024-05-05
1,E0002,Budi,Teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,NaN,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,120.0,58.2,83.0,2024-11-17
9,E0010,Joko,Teknik,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,NaN,2024-03-24
12,E0013,Maya,Manajemenenergi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Teknik,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Teknik,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,NaN
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Teknik,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,NaN,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Teknik,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Teknik,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Teknik,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,NaN
37,E0038,Lulu,Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Teknik,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Teknik,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Energi,NaN,62.6,78.0,2024-01-30
54,E0055,Dina,NaN,24.0,67.5,68.0,2024-10-26

In [ ]:
Perintah ziza_df.head(55) dalam Python digunakan untuk menampilkan 55 baris pertama dari DataFrame bernama ziza_df. Fungsi .head() ini sangat berguna untuk melakukan pengecekan awal pada dataset, misalnya untuk melihat struktur data, kolom, dan beberapa nilai awal tanpa harus menampilkan seluruh isi DataFrame. Jika jumlah baris dalam DataFrame kurang dari 55, maka Python akan menampilkan semua baris yang tersedia. Perlu dicatat bahwa penggunaan .head() hanya menampilkan data dan tidak mengubah isi DataFrame itu sendiri. Sebagai alternatif, jika ingin melihat baris terakhir dari DataFrame, dapat menggunakan fungsi .tail(n) dengan jumlah baris yang diinginkan. Dengan cara ini, kita bisa lebih mudah memahami dan memeriksa data sebelum melakukan analisis lebih lanjut.

In [ ]:
Ilham_Muhamad_Zaky.tail()

      nim   nama      jurusan  umur  nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0         58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0         77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0         63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0         68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0         90.4           82.0     2024-11-24

In [ ]:
Ilham_Muhamad_Zaky.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            75 non-null     float64
 4   nilai_akhir     78 non-null     float64
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.4+ KB

In [ ]:
Perintah Ilham_Muhamad_Zaky.tail() dalam Python digunakan untuk menampilkan 5 baris terakhir dari DataFrame ziza_df secara default. Fungsi .tail() sangat berguna untuk memeriksa data di bagian akhir dataset, misalnya untuk melihat apakah ada nilai yang hilang, duplikat, atau pola tertentu yang muncul di baris terakhir. Sama seperti .head(), penggunaan .tail() hanya menampilkan data dan tidak mengubah isi DataFrame. Jika ingin menampilkan jumlah baris yang berbeda, misalnya 10 atau 20 baris terakhir, cukup menambahkan angka sebagai argumen, misalnya ziza_df.tail(10). Dengan cara ini, kita bisa mendapatkan gambaran lengkap dari kedua ujung dataset sebelum melakukan analisis lebih lanjut.